:root {
  --cor-principal1: rgb(255, 243, 79);
  --cor-principal2: rgb(75, 101, 219);
}   
*{
    margin: 0px;
}
body{
    background-color: var(--cor-principal2);
}
.navbar {
    background-color: var(--cor-principal1);
}

.navbar-light .navbar-nav .nav-link, .navbar-brand{
  color: var(--cor-principal2) !important;
}
.nav-item {
    border-left: var(--cor-principal2) 3px solid;
}
.navbar-brand {
    max-width: 95px;
}
.logo {
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 10px 20px #0000005b;
}
.nav-link {
    font-weight: bold;
}
.carousel-caption{
    background-color: rgba(131, 131, 131, 0.479);
    border-radius: 50px;
    color: white;
}
.container{
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 10px 20px #0000005b;
}
.container-custom {
    max-width: 600px;
    margin: 80px auto;
    border-radius: 15px;
    padding: 20px;
}
.container-pagamento {
    margin: 80px auto;
    border-radius: 15px;
}
.texto-destaque {
    color: var(--cor-principal2);
    font-weight: bold;
}
.secao-pagamento {
    background-color: rgb(219, 219, 219);
    padding-top: 10px;
    border-radius: 15px 0px 0px 15px;
}
.met-pagamento {
    background-color: white;
    border-radius: 20px;
    border: 2px black solid;
    padding: 20px 5px 5px 25px;
    margin-bottom: 40px;
    font-weight: 600;
}
.row{
    margin-bottom: 20px;
}
.col-sm-4, .col-sm-3 {
    padding: 20px; 
}
.col-sm-4 .btn, .col-sm-3 .btn, .col-12 .btn{
    margin: 5px;
}
button {
    background-color: var(--cor-principal1);
    color: var(--cor-principal2);
}
.btn {
    font-weight: bold;
    border-radius: 20px;
    border: 3px solid var(--cor-principal2);
    transition-duration: 0.25s;
}
button:hover {
    background-color: var(--cor-principal2);
    color: var(--cor-principal1);
}
img{
    max-width: 100%;
}
.col-sm-4 img, .col-sm-3 img{
    border-radius: 10px;    
}
.rodape{
    background-color: white;
    padding: 15px;
    text-align: center;
    margin: 0px;
}
a {
    text-decoration: none;
    color: var(--cor-principal2);
}
a:hover {
    text-decoration: none;
    color: white;
}
.form-control {
    border: var(--cor-principal2) 3px solid;
}
.col-12 {
    margin-top: 20px;
}
.col-lg-4 {
    padding: 20px;
}
